<!-- 
_pl_ufv.page 
972535
12.12.22
-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title><t4 type="title"/> | <t4 type="navigation" id="213"/> UFV.ca</title>
<meta name="description" content="<t4 type="navigation" id="232"/>">
<meta name="robots" content="index, follow">
<meta property="og:title" content="<t4 type="title"/>, <t4 type="navigation" id="213"/>" />
<t4 type="media" id="971635"/><!-- og:image -->
<!-- CSS + JS HEAD -->
<t4 type="media" id="971148"/><!-- ufv-v.css -->
<t4 type="media" id="971147"/><!-- ufv-2015.css -->
<t4 type="media" id="971767"/><!-- ufv-t4.css -->
<t4 type="media" id="971871"/><!-- ufv-marcom.css -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">    
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<t4 type="media" id="973311"/><!-- html5shiv.min.js -->
	<t4 type="media" id="973312"/><!-- ufv-v.css -->
<![endif]-->
<t4 type="media" id="969846"/><!-- jquery.min.js -->
<t4 type="media" id="971158"/><!-- ufv-ac.js -->
<t4 type="style" /><!-- inline style -->
<link rel="stylesheet" href="http://207.194.163.107/~ufv4395/t4/styles.css"> 
</head>
<body>
<div id="sb-site">
  <div class="ufv-top-nav">
    <div class="container">
    <div class="global-nav">
    <!-- Users   -->
      <div class="col-md-6 col-sm-6 ufv-users">
      <!-- 257 --><t4 type="navigation" id="257"/>    
      </div>
      <div class="col-md-6  col-sm-6 ufv-tools">
      <!-- 258 --><t4 type="navigation" id="258"/>      
      </div>
    </div><!-- /ufv-top-nav -->
  </div>  
     </div>  
  
<div class="boxed">
<!-- * header -->
<header id="header-full-top" class="hidden-xs header-full-dark">
  <div class="container">
    <div class="col-md-9">
      <div class="header-full-title">
        <a href="http://www.ufv.ca/" title="University of the Fraser Valley"><t4 type="media" id="971708" formatter="image/*"/></a>
      </div>
    </div>
    
    <div class="col-md-3 hidden-sm" style="line-height: 16px; margin-top: 45px;">
    <t4 type="media" id="971724"/>
      </div>
  </div>
</header> 

<nav class="navbar navbar-static-top navbar-default navbar-header-full navbar-inverse" role="navigation" id="header">
<div class="container">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i> </button>
  <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="http://www.ufv.ca/">UFV.ca</a> 
  </div>
  <div class="pull-right hidden-lg"><a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-search"></i></a></div>
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--
      * Main Navigation 256
      -->
  <t4 type="navigation" id="256"/>  
   </div>
</div>
      <!--
      * Masthead Banner (Nav 251)
      -->
     <t4 type="navigation" id="251"/>  
</nav>

<header class="main-header">
  <div class="container">
    <p class="page-title"><!-- nav 213 --><t4 type="navigation" id="213"/></p>
  </div>
</header>
</div><!-- /boxed -->
  
<div class="container">
  <div class="row">
    <div class="container nobtm">
    <!-- Breadcrumbs nav 252 -->
    <t4 type="navigation" id="252"/>  
  </div>
      
      
<div class="col-md-9 ufv-cb">
<!--
* myWeb T4 Content
-->
<!-- H1 page title logic: <t4 type="navigation" id="213"/> -->
<h1 class="section-name"><!-- nav 248 --><t4 type="navigation" id="248"/></h1>

<t4 type="content" output="selective-output" modifiers="" name="remove-H1-page-title" format="<p>Email: $value</p>" />

<t4 type="content" output="selective-output" process-format="true" modifiers="" name="remove-H1-page-title" format="<H1>YES!!!</h1>" />

<!--
*
* HEADER
*
-->





<!--
*
* myWeb Content /end
* Page Layout Footer ***  
*
-->
</div>

<!--
* Sidebar / pagelets / widgets
-->
<div class="col-md-3 ufv-sb">

<div id="quick-links">
  <!-- Nav:197 -->
  <t4 type="navigation" id="197"/>
</div>

<!-- Nav:233 Section Navigation -->
<t4 type="navigation" id="233"/>

<div class="pagelet01">
    <!-- Nav:141 Zone 1 -->
    <t4 type="navigation" id="141"/>
</div>

<div class="pagelet02">
    <!-- Nav:142 Zone 2 -->
    <t4 type="navigation" id="142"/>
    <!-- Nav:216 promo-boxes pagelets -->
    <t4 type="navigation" id="216"/>
</div>

<div class="pagelet03">
    <!-- Nav:157 Pagelets -->
    <t4 type="navigation" id="157"/>
    <!-- Nav:143 -->
    <t4 type="navigation" id="143"/>
</div><!-- pagelet_03_end -->

</div><!-- /ufv-sb -->
</div>
</div>

<!--
* Footer
-->
<t4 type="media" id="973540"/><!-- 973540 | media/code/ufv.ca -->


</div><!-- sb-site -->

<!--
* Slide-bar: media: 972072
-->
<t4 type="media" id="972072"/>
<t4 type="media" id="969846"/><!-- 969846 | jquery.min.js -->
<t4 type="media" id="969847"/><!-- 969847 | jquery.cookie.js-->
<t4 type="media" id="969848"/><!-- 969848 | bootstrap.min.js -->
<t4 type="media" id="969849"/><!-- 969849 | wow.min.js -->
<t4 type="media" id="969850"/><!-- 969850 | slidebars.js -->
<t4 type="media" id="969851"/><!-- 969851 | jquery.bxslider.min.js -->
<t4 type="media" id="969852"/><!-- 969852 | buttons.js -->
<t4 type="media" id="969853"/><!-- 969853 | app.js -->
<t4 type="media" id="969854"/><!-- 969852 | carousels.js -->
<t4 type="media" id="969880"/><!-- 969880 | ufv.js -->
</body>
<!-- Google Analytics -->
<t4 type="media" id="967007" formatter="plain/text"/>
<!--
******************
USED FOR DEBUGGING
******************
Channel Info: name: <t4 type="channel" output="name"/> | desc: <t4 type="channel" output="description"/> | <t4 type="channel" output="site-root"/> | ID: <t4 type="channel" output="id"/>
-->
<t4 type="media" id="967008" formatter="plain/text"/>
<t4 type="meta" id="15"/>
</html>
