.ufv-top-nav {
    display: none;
}

.navbar-header-full.navbar-inverse {
    display: none;
}

@media (max-width:499px) {
    .ce-hero h1 {
        font-size: 3em;
    }

    .ce-hero h2 {
        font-size: 3em;
    }

    .ce-hero {
        padding: 10px 0px 30px 0px;
    }

    .ce-testimonials {
        padding: 30px 0px 30px 0px;
    }

    .ce-testimonials h2 {
        padding: 10px 0px 10px 0px;
        font-size: 1.8em;
    }

    .ce-testimonials p {
        min-height: 10px;
    }

    .ce-testimonials .ce-btn {
        margin-bottom: 30px;
    }

    .ce-features {
        padding: 10px 0px 20px 0px;
    }

    .ce-features h3 {
        font-size: 2em;
    }

    .ce-features li {
        padding: 4px;
        font-size: 1.1em;
    }

    .ce-cta {
        padding: 10px 0px 10px 0px;
    }

    .ce-cta h4 {
        font-size: 2.2em;
    }

    .ce-cta p {
        font-size: 1.2em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .ce-cta .ce-btn {
        font-size: 1.2em;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

