/* ufv-tablet */
@media only screen 
   and (min-width : 768px) {
 
    h2
    {
        font-size: 28px;
        letter-spacing: -1px;
    }

    .boxed {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .ct-featured-03 .caption {
        height: 250px;
        padding: 0px;
     
    }
    .btn {
        font-size: 16px;
     
    }
    .cta-col-r {
        border-left: 1px solid #ccc;
        padding-left: 20px;
    }
    .ct-block-right {
        padding: 0px 10px 0px 50px;
    }
    .event-bot-info p {
        padding: 0px 150px 0px 150px;
    }
    
}