/* 
ufv-sm-min.css
media/web/css
only screen and (max-width: 480px), only screen and (max-device-width: 480px)
*/
.ct-contact { margin: 0; padding: 0; border: 1px solid #ebebeb; padding: 7px 0px 7px 5px; background: #fff; border-radius: 0; margin-bottom: 10px; }

.profile-img { padding: 0px 10px 0px 0px; float: left; }

.profile-img img { width: 90px; float: left; margin: 0px 0px 12px 0px; padding-bottom: 0px; }

.contact_name, .contact_title, .contact_dept, .contact_loc, .contact_phone, .contact_email, .contact_profile, .ct-contact h3 { font-size: 12px; padding: 0; margin: 0; line-height: 15px; font-weight: 400; }

.ct-contact h3 { font-weight: 600; font-size: 14px; letter-spacing: 0; margin-bottom: 5px; color: #333; }

.ct-contact a.btn-default { background: #fff; padding: 3px; border-radius: 0; margin: 10px 5px 2px 0; border: 1px #ccc solid; display: inline-block; font-size: 10px; font-weight: 400; text-decoration: none; border-radius: 0; background: #ebebeb; float: right; }

html.sb-init body div#sb-site div.boxed header.main-header div.container p.page-title { color: #00703c; font-family: Open Sans; font-size: 1em; font-weight: 400; padding-left: 0px; font-weight: normal; text-transform: uppercase; margin-bottom: 0; padding-bottom: 5px; clear: both; letter-spacing: -1px; line-height: 1.1em; }

div.breadcrumb.nobtm a { color: #777777; font-family: Open Sans; font-size: 1em; font-weight: 500; letter-spacing: -0.5px; margin-right: 0; padding-left: 5px; padding-right: 0px; text-transform: uppercase; color: #00703c; }

.ufv-cb p.h1, .ufv-cb h1 { font-size: 25px; /* font-weight: 300; */ font-family: 'Open Sans', sans-serif; }

h1.section-name { border-bottom: 1px solid #ebebeb; color: #333333; font-size: 25px; font-weight: normal; margin-bottom: 5px; padding-bottom: 5px; }

.ufv-cb p.h2, .ufv-cb h2 { font-size: 21px; /* font-weight: 300; */ font-family: 'Open Sans', sans-serif; padding-top: 0; padding: 0; }

#contact-us ul { text-align: left; list-style: outside none none; padding: 0px; /* margin: 15px 12px 5px 0px; */ font-size: 16px; font-weight: 400; }

#footer .ufv-social { padding: 0; }

.social-buttons { text-align: center; margin: 0; padding: 0; margin-top: 10px; }

#footer p, #footer a:link { color: #808080; font-size: 12px; font-family: "open sans"; text-align: center; }
