.ce-hero {
    padding: 100px 0;
    background-image: url(https://webdev.ufv.ca/media/assets/continuing-studies/marketing-campaign/ce-bg.jpg);
}

.bg-work {
    background-color: #ebebeb;
}

.bg-tr {
    background: #fff;
    background: rgba(255,255,255,.85);
    border: 1px solid #ccc;
    padding: 30px;
}

.ce-hero h1 {
    color: #00703c;
    font-weight: 700;
    text-align: left;
    font-size: 4em;
    padding: 0;
    margin: 0;
}

.ce-hero h2 {
    color: #8dc640;
    font-weight: 700;
    font-size: 5rem;
}

.ce-btn {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 20px 0 0;
}

.ce-testimonials .ce-btn {
    font-size: 1em;
}

.ce-testimonials {
    padding: 60px 0;
}

.ce-testimonials h2 {
    color: #8dc640;
    font-weight: 600;
    padding: 15px 0 10px;
}

.ce-testimonials p {
    font-size: .9em;
    min-height: 350px;
}

.ce-features {
    background-color: #fff;
    padding: 100px 0;
}

.ce-features h3,
.ce-features h4 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    color: #403f3f;
    letter-spacing: -.75px;
}

.ce-features h4 {
    font-size: 1.8em;
    text-align: left;
    color: #00703c;
}

.ce-features p {
    font-size: .9em;
    min-height: 80px;
    padding: 0 15px 0 0;
    color: #403f3f;
}

.ce-cta {
    text-align: center;
    padding: 200px 0;
    background: url(assets/ce_banner.jpg) no-repeat,rgba(139,198,63,.1);
    background: url(https://webdev.ufv.ca/media/assets/continuing-studies/marketing-campaign/ce-bg.jpg) rgba(139,198,63,.1);
    background-blend-mode: overlay;
}

.ce-cta h4 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
}

.ce-cta p {
    padding: 30px 20%;
    line-height: 1.5;
    color: #fff;
}

.ce-cta .ce-btn {
    width: 50%;
}

.ce-cta .ce-btn em {
    border-bottom: 2px solid #fff;
    font-style: normal;
}