div#loginblockmain {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	margin-top: -20%;
	/* margin-bottom: 5%; */
	/* position: relative; */
	/* width: 400px; */
	border-radius: none;
	border-radius: 0px;
	background-color: #ebebeb;
}

div#ufvlogin a {
	text-align: center;
	background-color: #f8a21e;
	text-decoration: none !important;
	padding: 1em 2em;
	margin-bottom: 10px;
	border-radius: 2em;
  border-radius: 0px;

  color: white !important;
  font-size: 17px !important;;
}
div#ufvlogin a:hover {
	background-color: #00703c;
}

div#ultraCourseCatalogLink a {
	text-decoration: none !important;
	padding: 1em 2em;
	margin-bottom: 10px;
	border-radius: 2em;
	font-size: 14px !important;
	border-radius: 0px;
	color: #ebebeb;
}